@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary-50: #fff7ed;
  --color-primary-100: #ffedd5;
  --color-primary-200: #fed7aa;
  --color-primary-300: #fdba74;
  --color-primary-400: #fb923c;
  --color-primary-500: #e86b32;
  --color-primary-600: #d45b29;
  --color-primary-700: #b14823;
  --color-primary-800: #903c20;
  --color-primary-900: #78341c;
}

:root {
  --primary: var(--color-primary-500);
  --primary-foreground: white;

  --background: #f9fafc;
  --foreground: #111827;

  --card: white;
  --card-foreground: #111827;

  --sidebar: white;
  --sidebar-foreground: #6b7280;
  --sidebar-primary: var(--primary);
  --sidebar-accent: #f3f4f6;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}